@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.27);
  background-color: rgba(255, 255, 255, 0.17);;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.t-box{
  border: 1px solid red;
  width: 100%;
  height: 100%;
}



.textarea-scrollbar {
  /* scrollbar-width: thin;
  scrollbar-color: blue; 
  scrollbar-base-color: red; */
}

.textarea-scrollbar::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

.textarea-scrollbar::-webkit-scrollbar-track {
  background: #D2b48c; /* Background color of the scrollbar track */
}

.textarea-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D2b48c; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.textarea-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D2b48c; /* Color of the scrollbar thumb on hover */
}